html, body {
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.nav li a {
	color: white !important;
	font-weight: 600;
}



.nav li a:hover {
	background-color: transparent;
	color: lightgrey !important;
	transition: ease-in 0.4s;
}

.navbar-nav .active > a {
	color: red !important;
}

.navbar-right li > a > i, {
	color: royalblue !important;
}

.active a {
	background-color: transparent !important;
}

.dropdown-toggle {
	background-color: transparent !important;
}

.dropdown-toggle:focus {
	background-color: transparent !important;
}

.hero-content-box {
	width: 100%;
	height: 700px;
	background-image: url("../img/656852.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.hero-content-inner {
	width: inherit;
	height: inherit;
	display: table;
	background-color: rgba(0, 0, 225, 0.4);
}

.text-content {
	float: right;
	display: table-cell;
	padding-top: 150px;
	color: #fff;
	width: 100%;
	padding-left: 65%;
	padding-right: 50px;
}

.text-content h3 {
	width: inherit;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 35px;
}

.text-content p {
	width: 80%;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 50px;
}

.btn-general {
	width: 130px;
	color: white;
	font-size: 12px;
}

.btn-black {
	border-color: black;
	color: black;
	font-weight: 600;
	width: 150px;
	padding: 10px;
	border-width: 2px;
}

.btn-black:hover {
	background-color: black;
	color: white;
	transition: ease-in 0.4s;
}

.btn-white {
	background-color: transparent !important;
	border-color: white;
	font-weight: 600;
	border-width: 2px;
	font-weight: 600;
}

.btn-white:hover {
	background-color: rgba(255, 0, 0, 0.8) !important;
	color: #fff;
	border-color: transparent !important;
	transition: ease-in 0.4s;
}

.btn-nav {
	font-size: 13px;
	padding: 10px 5px !important;
	margin-top: 2%;
	margin-right: 5px;
	font-weight: 600;
}

.btn-nav:hover {
	transition: ease-in 0.4s;
}

.btn1:hover {
	background-color: rgba(0,0,225,0.4) !important;
	color: white;
}

.btn2:hover {
	background-color: rgba(225,0,0,0.4) !important;
	color: white;
}

.dropdown-menu {
	background-color: black;
}

.dropdown-menu li a:hover {
	background-color: transparent;
	color: red !important;
}


.content-box {
	width: 100%;
	height: 700px;
	padding-top: 150px;
	padding-left: 125px;
	display: table;
}

.content-box-inner {
	display: table-cell;
}

.c-header {
	font-size: 40px;
	width: 300px;
	margin-bottom: 25px;
	color: rgba(0,0,0, 0.5);
}

.c-text {
	font-size: 16px;
	width: 420px;
	margin-bottom: 22px;
}

.c-text-small {
	font-size: 12px;
	width: 400px;
	color: grey;
}

.content-box-2 {
	width: 100%;
	height: 700px;
	display: table;
	background-image: url('../img/656683.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.content-box-2-inner {
	height: inherit;
	width: inherit;
	display: table-cell;
	background-color: rgba(0, 0, 255, 0.5);
	padding-top: 125px;
	padding-left: 60%;
}

.c-link {
	width: 210px;
	float: left;
	list-style-type: square;
	padding-right: 25px;
	font-weight: 600;
	line-height: 30px;
	padding-left: 20px;
}